In [ ]:
import pandas as pd

In [ ]:
url ='https://raw.githubusercontent.com/C4AnN/Models/main/SalesForecasting(Model1)/train.csv'
store_sales = pd.read_csv(url)
store_sales.head(10)

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10
5  2013-01-06      1     1     12
6  2013-01-07      1     1     10
7  2013-01-08      1     1      9
8  2013-01-09      1     1     12
9  2013-01-10      1     1      9

In [ ]:
store_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

In [ ]:
num_rows = store_sales.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

Jumlah baris dalam data: 913000

In [ ]:
store_sales = store_sales.drop(['store','item'], axis=1)
store_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   sales   913000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 13.9+ MB

In [ ]:
store_sales_subset = store_sales.iloc[:4200]

In [ ]:
store_sales_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4200 non-null   object
 1   sales   4200 non-null   int64
dtypes: int64(1), object(1)
memory usage: 65.8+ KB

In [ ]:
store_sales_subset.info()
num_rows = store_sales_subset.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4200 non-null   object
 1   sales   4200 non-null   int64
dtypes: int64(1), object(1)
memory usage: 65.8+ KB
Jumlah baris dalam data: 4200

In [ ]:
store_sales_subset.to_csv('train_subset.csv', index=False)

In [ ]:
url ='https://raw.githubusercontent.com/C4AnN/Models/main/dataset/dataset_clean.csv'
store_sales2 = pd.read_csv(url)
store_sales2.head(10)

,name,sold,price,date
0,HP Omen 15 2020 Ryen 7-4800H 16GB 512GB GTX166...,9,17.899.000,2021-01-14
1,HP Omen 15 2020 Ryzen 7-4800H 16GB 512GB GTX16...,14,17.999.000,2021-01-14
2,HP Omen 15 GTX1660Ti 6GB 144Hz Ryzen 7 4800H 1...,163,17.849.000,2021-01-14
3,HP Omen 15 Ryzen 7 4800 16GB 1TB ssd GTX1660Ti...,42,18.499.000,2021-01-14
4,HP Omen 15 Ryzen 7 4800 16GB 512ssd | 1TB SSD ...,28,17.849.000,2021-01-14
5,HP Omen 15 dh1020TX GeForce® RTX 2070 SUPER™ -...,3,32.099.000,2021-01-14
6,HP Omen 15 i7 9750 16GB 1TB+512ssd RTX2060 6GB...,15,20.699.000,2021-01-14
7,HP PAVILION 14-DV0065TX DV0066TX i5-1135G7 8GB...,86,11.999.000,2021-01-14
8,HP PAVILION 15 CORE i5-8250U/8GB/256GB/TOUCH -...,15,8.700.000,2021-01-14
9,HP PAVILION 15-EC0107AX R5 3550H 8GB 512GB SSD...,75,12.498.000,2021-01-14

In [ ]:
store_sales2.info()
num_rows = store_sales2.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4210 entries, 0 to 4209
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4210 non-null   object
 1   sold    4210 non-null   int64
 2   price   4210 non-null   object
 3   date    4210 non-null   object
dtypes: int64(1), object(3)
memory usage: 131.7+ KB
Jumlah baris dalam data: 4210

In [ ]:
store_sales2_subset = store_sales2.iloc[:4200]
store_sales2_subset.info()
num_rows = store_sales2_subset.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4200 non-null   object
 1   sold    4200 non-null   int64
 2   price   4200 non-null   object
 3   date    4200 non-null   object
dtypes: int64(1), object(3)
memory usage: 131.4+ KB
Jumlah baris dalam data: 4200

In [ ]:
store_sales2_subset = store_sales2_subset.drop(['sold','date'], axis=1)
store_sales2_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4200 non-null   object
 1   price   4200 non-null   object
dtypes: object(2)
memory usage: 65.8+ KB

In [ ]:
store_sales2_subset.to_csv('train2_subset.csv', index=False)

In [ ]:
# import re

# # Membaca dataset
# store_sales2 = pd.read_csv(url)

# # Kata-kata yang tidak diinginkan
# kata_tidak_diinginkan = [
#     'promo', 'garansi', 'leptop', 'laptop', 'new', 'pc', 'free',
#     'murah', 'best', 'discontinue', 'phone', 'monitor', 'lcd', 'aio'
# ]

# # Buat regex pattern dari daftar kata-kata yang tidak diinginkan
# pattern = '|'.join(re.escape(kata) for kata in kata_tidak_diinginkan)

# # Menghapus baris yang mengandung salah satu kata dari pattern
# df_cleaned = store_sales2[~store_sales2['name'].str.contains(pattern, case=False, na=False)]

# # Mengubah kolom 'sold' menjadi format integer
# df_cleaned['sold'] = pd.to_numeric(df_cleaned['sold'], errors='coerce').fillna(0).astype(int)

# # Menyimpan dataset yang sudah dibersihkan
# df_cleaned.to_csv('dataset_clean.csv', index=False)

In [ ]:
# baca = pd.read_csv('dataset_clean.csv')
# print(baca)

In [ ]:
# store_sales2.info()
# num_rows = store_sales2.shape[0]
# print(f"Jumlah baris dalam data: {num_rows}")

In [ ]:
import pandas as pd

# Membaca kedua file CSV
df1 = pd.read_csv('train2_subset.csv')
df2 = pd.read_csv('train_subset.csv')

# Menggabungkan kedua dataframe secara horizontal
df_combined = pd.concat([df1, df2], axis=1)

# Menghapus titik dari nilai dalam kolom 'price' dan mengubahnya menjadi integer
df_combined['price'] = df_combined['price'].str.replace('.', '').astype(int)

# Menyimpan dataframe gabungan ke dalam file CSV baru
df_combined.to_csv('file_gabungan.csv', index=False)

In [ ]:
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom harga dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[df['price'] <= 8000000]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_low_level.csv', index=False)

                                                   name    price        date  \
13    HP PAVILION X360 15-8130U-8GB-256GB-TOUCH-WIN1...  6465000  2013-01-14
16    HP Pavilion 13 AN0031 i3 8145U 8GB 128GB-SSD I...  7799000  2013-01-17
56    HP Pavilion ENVY 13 AN0031WM - i3 8145U 8GB 12...  7799000  2013-02-26
72    HP 14s dk1122AU dk1123AU - AMD Athlon Gold 315...  6899000  2013-03-14
95    Dell Latitude E5440 |Core i5-Gen 4 |Camera - R...  3300000  2013-04-06
...                                                 ...      ...         ...
4160  ACER Z3-451/8 AMD A8-7410/ MEMORI 8GB/ HDD 500...  5499000  2014-05-24
4165  ASUS Vivobook A412FA INTEL PENTIUM GOLD N5405U...  6499000  2014-05-29
4183              Lenovo ideapad 330 intel 15 Window 10  4950000  2014-06-16
4187  ACER ASPIRE A314 RYZEN 3- 3250 4GB 512GB SSD 1...  7199000  2014-06-20
4195       Acer Aspire 5 A514-53 i3-1005G1 4 Gb 512 SSD  7000000  2014-06-28

      sales
13       12
16       16
56        9
72       10
95       23
...     ...
4160     31
4165     30
4183     23
4187     26
4195     28

[972 rows x 4 columns]

In [ ]:
import pandas as pd

# Membaca file CSV yang telah digabungkan
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom 'price' dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[(df['price'] > 8000000) & (df['price'] <= 16000000)]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_mid_level.csv', index=False)

                                                   name     price        date  \
7     HP PAVILION 14-DV0065TX DV0066TX i5-1135G7 8GB...  11999000  2013-01-08
8     HP PAVILION 15 CORE i5-8250U/8GB/256GB/TOUCH -...   8700000  2013-01-09
9     HP PAVILION 15-EC0107AX R5 3550H 8GB 512GB SSD...  12498000  2013-01-10
10    HP PAVILION GAMING 15 DK1041TX  i7-10750H - 8G...  14999000  2013-01-11
11    HP PAVILION GAMING 15-DK1041TX-CORE 17 10750H-...  14909520  2013-01-12
...                                                 ...       ...         ...
4194  ACER PREDATOR NITRO 5 AN515 I5 10300H RAM 8GB ...  12479000  2014-06-27
4196  Asus Zenbook Q407iQ Ryzen 5 4500 MX350 2GB RAM...  10699000  2014-06-29
4197  ASUS TUF GAMING A15 FX506IH-R565B6T - R5-4600H...  13380000  2014-06-30
4198  Lenovo Ideapad Slim 5i-14ITL05 3VID i7-1165G7 ...  14999000  2014-07-01
4199  Lenovo IdeaPad Slim 5i Intel Core i5 1135G7 8G...  11699000  2014-07-02

      sales
7         9
8        12
9         9
10        9
11        7
...     ...
4194     30
4196     26
4197     19
4198     24
4199     25

[1994 rows x 4 columns]

In [ ]:
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom harga dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[df['price'] > 16000000]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_high_level.csv', index=False)

                                                   name     price        date  \
0     HP Omen 15 2020 Ryen 7-4800H 16GB 512GB GTX166...  17899000  2013-01-01
1     HP Omen 15 2020 Ryzen 7-4800H 16GB 512GB GTX16...  17999000  2013-01-02
2     HP Omen 15 GTX1660Ti 6GB 144Hz Ryzen 7 4800H 1...  17849000  2013-01-03
3     HP Omen 15 Ryzen 7 4800 16GB 1TB ssd GTX1660Ti...  18499000  2013-01-04
4     HP Omen 15 Ryzen 7 4800 16GB 512ssd | 1TB SSD ...  17849000  2013-01-05
...                                                 ...       ...         ...
4182  Lenovo Legion 5i-MTID-15.6" IPS 300nits 144Hz ...  21999000  2014-06-15
4185  Asus ROG Strix G15 G512LI 144Hz i7-10750H 16GB...  17399000  2014-06-18
4186  Asus ROG Strix G15 G512LI 144Hz i7-10750H 16GB...  16299000  2014-06-19
4190  DELL Inspiron 3881 i7 10700F 16GB 512SSD GTX 1...  16995000  2014-06-23
4193  Asus Zenbook UX325EA i7 1165G7 16GB 512ssd Iri...  17299000  2014-06-26

      sales
0        13
1        11
2        14
3        13
4        10
...     ...
4182     25
4185     23
4186     29
4190     27
4193     22

[1234 rows x 4 columns]